/* .inicioContainer {
  background: var(--header);
  height: 30px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

@media (max-width: 768px) {
  /* .inicioContainer {
    background: var(--header);
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .inicioData{
    margin: 5px 10px;
  } */

  .containerLogo{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* width: 100vw; */
    width: auto;
    height: 100vh;
  }

  .logo{
    width: 80vw;
    height: auto;
  }
  
  .logoLema{
    width: 90%;
    font-size: 1.3em;
    text-align: center;
    color: var(--letra);
    margin-top: 0;
  }
  .subTittle{
    margin-bottom: 0;
    font-size: 1.5em;
  }
  
  @keyframes logo-spin {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }
  
  @media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(1) .logo {
      animation: logo-spin infinite 8s linear;
    }
  }
}

