.headerContainer {
  background: var(--header);
  height: 30px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .headerContainer {
    background: var(--header);
    position: fixed;
    top: 0;
    left: 0;

    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .headerData{
    margin: 5px 10px;
  }
}
