.headerContainer {
  background: var(--header);
  height: 30px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0s;
}


@media (max-width: 768px) {
  .headerContainer {
    background: var(--header);
    position: fixed;
    top: 0;
    left: 0;

    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .headerPhone{
    margin: 5px 0px 5px 10px;
  }
  .headerEmail{
    margin: 5px 10px 5px 0px;
  }
}
