

@media (max-width: 768px) {

  /* .containerTrayectoria{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: calc(100vh - 90px);
    width: auto;
  } */

  /* .slider{
    /* aspect-ratio: 10/16; */
    /* width: 80%;
    position: relative;
    display: flex;
    overflow: scroll;
    scroll-snap-type: x mandatory;

  } */

  /* .slider img{
    width: 100%;
    left: 0;
    position: sticky;
    object-fit: cover;
    border-radius: 5px;
    scroll-snap-align: center;
  }  */


}