#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;


  /* Colors palette */
  --astronaut-50: #eff7ff;
  --astronaut-100: #dbecfe;
  --astronaut-200: #bfdefe;
  --astronaut-300: #92cbfe;
  --astronaut-400: #5fadfb;
  --astronaut-500: #3a8cf7;
  --astronaut-600: #246eec;
  --astronaut-700: #1c57d9;
  --astronaut-800: #1d48b0;
  --astronaut-900: #193676;
  --astronaut-950: #172854;


}

.logo {
  height: 12em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #1c57d9);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #92cbfe);
}

.containerLogo{
  width: 70vw;
  height: auto;
}

.logoLema{
  width: 100%;
  color: var(--astronaut-400);
}

@keyframes logo-spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(1) .logo {
    animation: logo-spin infinite 8s linear;
  }
}


